body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.espacamento{
    margin-top: 6%;
}

.justificar{
    text-align: justify;
}

#logo{
    width: 11rem;
    height: 100%;
}
      